.menu-card-content {
  display: flex;
  flex-direction: row;
}

.menu-card-content-info {
  width: 65%;
  height: 100%;
  min-height: 50px;
}

.menu-card-content-info .header {
  font-family: 'Montserrat', serif !important;
  font-size: 1.1rem !important;
}

.menu-card-content-info .meta {
  padding-right: 10px;
}

.menu-card-content-img {
  width: 35%;
  margin: 0 !important;
  max-height: 100px;
  overflow: hidden;
}

.menu-info {
  justify-content: center;
  align-items: center;
  display: flex;
  background: url(../../static/assets/menu-info-bg.jpg) left center !important;
  color: #FFF !important;
  min-height: 140px !important;
  background-size: cover !important;
}

.menu-info .content {
  background: rgba(0,0,0, 0.7) !important;
  padding: 2em !important;
}