:root {
  --bodyBg: #f0f4f8;
  --menuBg: #535353;
  --progressBar: #54d1db;
}

body {
  background: var(--bodyBg);
}

#menu {
  background: var(--menuBg);
  border-radius: 0;
}

.container-comingsoon {
  text-align: center;
  color: #535353;
}