.mrbanhmi-logo {
  width: 120px !important;
  margin-top: 20px !important;
  z-index: 2 !important;
}

h1.ui.header {
  font-family: 'Playfair Display', serif !important;
  font-weight: 600 !important;
  font-size: 3rem !important;
  color: #4d4d4d;
}

.ui.card > .content > .header,
h3.ui.header {
  font-family: 'Playfair Display', serif !important;
}

.ui.card, 
.ui.cards > .card {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 24px 0px !important;
}

.ui.card.with-border, 
.ui.cards > .card.with-border {
  box-shadow: 0 1px 2px 0 rgba(34,36,38,.15) !important;
  border: 1px solid rgba(34,36,38,.15) !important;
}

h2.ui.header {
  font-family: 'Montserrat', serif !important;
  font-size: 1.2rem !important;
  color: #4d4d4d;
}

h2.ui.header .sub.header {
  font-size: 1rem;
}

.grid-container-item {
  background: #f1f1f1;
  padding: 1em !important;
  border: 1px solid #f7f7f7;
  margin-top: 2em !important;
}

.container-text-content {
  padding: 1.5em 1em !important;
  margin-top: 1em !important;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 24px 0px
}

/* Order Now */

.start-order-card {
  transition: all 0.3s ease-in-out !important;
}

.start-order-card.selected,
.start-order-card.selected:hover {
  border: 2px solid green !important;
}

.start-order-card .image {
  padding: 1em !important;
  text-align: center !important;
}

.start-order-card .image,
.start-order-card .content  {
  display: flex !important;
  justify-content: center !important;
}

.start-order-card .content .header {
  transition: all 0.3s ease-in-out !important;
}

.start-order-card .image img {
  width: 100% !important;
}

.start-order-card:hover .content .header,
.start-order-card.selected .content .header {
  color: #036b1b !important;
}

/* Menu */

.menu-card-content {
  display: flex;
  flex-direction: row;
}

.menu-card-content-info {
  width: 65%;
  height: 100%;
  min-height: 50px;
}

.menu-card-content-info .header {
  font-family: 'Montserrat', serif !important;
  font-size: 1.1rem !important;
}

.menu-card-content-info .meta {
  padding-right: 10px;
}

.menu-card-content-img {
  width: 35%;
  margin: 0 !important;
  max-height: 100px;
  overflow: hidden;
}

.menu-info {
  justify-content: center;
  align-items: center;
  display: flex;
  background: url(../static/assets/menu-info-bg.jpg) left center !important;
  color: #FFF !important;
  min-height: 140px !important;
  background-size: cover !important;
}

.menu-info .content {
  background: rgba(0,0,0, 0.7) !important;
  padding: 2em !important;
}

.ui.modal {
  top: 20%;
  left: auto;
}

.ui.modal > .close {
  top: 5px;
  right: 5px;
}

.ui.modal > .close::before {
  content: url('../static/assets/close.png');
}
