.mrbanhmi-logo {
  width: 120px !important;
  margin-top: 20px !important;
  z-index: 2 !important;
}

h1.ui.header {
  font-family: 'Playfair Display', serif !important;
  font-weight: 600 !important;
  font-size: 3rem !important;
  color: #4d4d4d;
}

.ui.card > .content > .header,
h3.ui.header {
  font-family: 'Playfair Display', serif !important;
}

.ui.card, 
.ui.cards > .card {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 24px 0px !important;
}

.ui.card.with-border, 
.ui.cards > .card.with-border {
  box-shadow: 0 1px 2px 0 rgba(34,36,38,.15) !important;
  border: 1px solid rgba(34,36,38,.15) !important;
}

h2.ui.header {
  font-family: 'Montserrat', serif !important;
  font-size: 1.2rem !important;
  color: #4d4d4d;
}

h2.ui.header .sub.header {
  font-size: 1rem;
}

.grid-container-item {
  background: #f1f1f1;
  padding: 1em !important;
  border: 1px solid #f7f7f7;
  margin-top: 2em !important;
}

.container-text-content {
  padding: 1.5em 1em !important;
  margin-top: 1em !important;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 24px 0px
}

/* Order Now */

.start-order-card {
  transition: all 0.3s ease-in-out !important;
}

.start-order-card.selected,
.start-order-card.selected:hover {
  border: 2px solid green !important;
}

.start-order-card .image {
  padding: 1em !important;
  text-align: center !important;
}

.start-order-card .image,
.start-order-card .content  {
  display: flex !important;
  justify-content: center !important;
}

.start-order-card .content .header {
  transition: all 0.3s ease-in-out !important;
}

.start-order-card:hover .content .header,
.start-order-card.selected .content .header {
  color: #036b1b !important;
}

.carry-out-card .image img {
  width: 140px !important;
  max-height: 140px !important;
}