.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover !important;
}

.hero .hero-content {
  background: #FFF;
  width: 90%;
  margin: 0 auto;
  padding: 3em 2em;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.12);
}

.hero .border {
  height: 2px;
  background: #989898;
  width: 40%;
  margin: 0 auto;
  margin-bottom: 1.5em;
}

@media only screen and (min-width: 992px) {
  .hero .hero-content {
    width: 50%;
  }
}

@media only screen and (min-width: 1400px) {
  .hero .hero-content {
    width: 40%;
  }
}

