.segment-menu {
  width: 100%;
  display: flex;
  align-items: flex-end;
  margin-right: 0;
  padding-right: 0;
  border: none !important;
  box-shadow: none !important;
}

/* Hambuger Menu */

.mobile-menu {
  display: block;
}

.desktop-menu {
  display: none;
}

@media only screen and (min-width: 768px) {
  .desktop-menu {
    display: block;
  }

  .mobile-menu {
    display: none;
  }
}

.ui.secondary.menu .item {
  font-size: 1rem !important;
  font-weight: bold;
}

.ui.menu .item > i.icon:before:hover  {
  font-size: 1.5em;
}

.ui.vertical.inverted.menu .menu .item {
  border-bottom: 1px solid #404040 !important;
  line-height: 40px !important;
}

.ui.secondary.menu .item:hover,
.ui.secondary.menu .item:focus,
.ui.secondary.menu .item.active {
  background: none !important;
  color: green !important;
  font-size: 1rem !important;
  font-weight: bold;
}

.info-order-header {
  padding: 0 !important;
  margin: 0 !important;
  text-align: center !important;
  border-right: 2px solid #b5b5b5 !important;
  padding-right: 2em !important;
  margin-right: 10px !important;
  margin-top: -8px !important;
}

.info-order-header h4 {
  color: #4eac31 !important;
  text-transform: uppercase !important;
  margin: 0 0 10px !important;
}

.info-order-header p {
  margin: 0;
  padding: 0;
  line-height: 0;
  margin-bottom: 3px;
}

.info-order-header .button-change {
  color: #666666;
  cursor: pointer;
  text-decoration: underline;
}

/* 404 page */

#notfound {
  position: relative;
  height: 70vh;
  width: 100%;
}

#notfound .notfound {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.notfound {
  max-width: 560px;
  width: 100%;
  padding-left: 160px;
  line-height: 1.1;
}

.notfound .notfound-404 {
  position: absolute;
  left: 0;
  top: 0;
  display: inline-block;
  width: 140px;
  height: 140px;
  background-image: url('../../static/assets/emoji-404.png');
  background-size: cover;
}

.notfound .notfound-404:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transform: scale(2.4);
      -ms-transform: scale(2.4);
          transform: scale(2.4);
  border-radius: 50%;
  background-color: #f2f5f8;
  z-index: -1;
}

.notfound h1 {
  font-size: 65px;
  font-weight: 700;
  margin-top: 0px;
  margin-bottom: 10px;
  color: #151723;
  text-transform: uppercase;
}

.notfound h2 {
  font-size: 21px;
  font-weight: 400;
  margin: 0;
  text-transform: uppercase;
  color: #151723;
}

.notfound p {
  color: #999fa5;
  font-weight: 400;
}

.notfound a {
  display: inline-block;
  font-weight: 700;
  border-radius: 40px;
  text-decoration: none;
  color: #388dbc;
}

@media only screen and (max-width: 767px) {
  #notfound  {
    margin-top: 2em;
  }

  .notfound .notfound-404 {
    width: 110px;
    height: 110px;
  }
  
  .notfound {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 110px;
  }
}